@charset "UTF-8";
/* Обнулення */ /*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/* header ===================================================================== */
.header {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 105px;
  padding: 20px;
  z-index: 1000;
  overflow: hidden;
  background: #EBF3FF;
}
.header .header__logo a img {
  height: 85px;
}
.header .header__logo a:nth-child(2) {
  display: none;
}
.header .header__slogan span {
  font-family: "Oswald", sans-serif;
  font-size: calc(24px + 6 * (100vw - 320px) / 2240);
  font-weight: 500;
  text-transform: uppercase;
  color: #242527;
}
.header .header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header__contacts a {
  padding: 5px 10px;
  border-radius: 20px;
  font-size: calc(18px + 3 * (100vw - 320px) / 2240);
  font-weight: 500;
  letter-spacing: 0.1em;
}
.header .header__contacts a:hover {
  color: #ef8c17;
}
.header .header__login a {
  padding: 10px;
  margin: 0 10px 0 0;
  border-radius: 10px;
}
.header .header__login a img {
  width: calc(30px + 10 * (100vw - 320px) / 2240);
}
.header .header__login a:hover {
  background: rgba(239, 140, 23, 0.4);
}
.header .header__login a:nth-last-child(1) {
  margin: 0;
}
.header .header__menu-burger {
  display: none;
}

/* first ===================================================================== */
.first {
  padding: 0 calc(10px + 10 * (100vw - 320px) / 2240);
}
.first .first-slider {
  border-radius: 10px;
}
.first .first-slider .first__wrapper .first__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 80px 50px 80px;
}
.first .first-slider .first__wrapper .first__slide .first__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  text-align: center;
}
.first .first-slider .first__wrapper .first__slide .first__img img {
  max-width: 100%;
  border-radius: 10px;
}
.first .first-slider .first__wrapper .first__slide .first__img .first__button {
  margin: 20px 0 0 0;
}
.first .first-slider .first__wrapper .first__slide .first__img .first__button a {
  padding: calc(10px + 10 * (100vw - 320px) / 2240) calc(20px + 15 * (100vw - 320px) / 2240);
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: calc(18px + 4 * (100vw - 320px) / 2240);
  font-weight: 700;
  letter-spacing: 0.01em;
  color: #fff;
  background: #ff9944;
}
.first .first-slider .first__wrapper .first__slide .first__img .first__button a:hover {
  background: rgba(255, 153, 68, 0.6);
}
.first .first-slider .first__wrapper .first__slide .first__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 0 0 calc(10px + 10 * (100vw - 320px) / 2240);
}
.first .first-slider .first__wrapper .first__slide .first__text .first__name a {
  padding: calc(10px + 10 * (100vw - 320px) / 2240);
  border-radius: 10px;
  background: #ff9944;
}
.first .first-slider .first__wrapper .first__slide .first__text .first__name a h2 {
  font-size: calc(20px + 15 * (100vw - 320px) / 2240);
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #fff;
}
.first .first-slider .first__wrapper .first__slide .first__text .first__name a:hover {
  background: rgba(255, 153, 68, 0.6);
}
.first .first-slider .first__wrapper .first__slide .first__text .first__benefits {
  margin: calc(10px + 10 * (100vw - 320px) / 2240) 0 0 0;
}
.first .first-slider .first__wrapper .first__slide .first__text .first__benefits .first__bnf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 calc(5px + 15 * (100vw - 320px) / 2240) 0;
}
.first .first-slider .first__wrapper .first__slide .first__text .first__benefits .first__bnf span {
  width: 15px;
  height: 15px;
  margin: 9px 0 0 10px;
  border-radius: 50%;
  background: #000;
}
.first .first-slider .first__wrapper .first__slide .first__text .first__benefits .first__bnf p {
  font-size: calc(22px + 6 * (100vw - 320px) / 2240);
  font-weight: 600;
  line-height: 1em;
  color: #000;
}
.first .first-slider .first__wrapper .first__slide .first__text .first__description {
  padding: 20px;
  border-radius: 10px;
  background: rgba(255, 153, 68, 0.4);
}
.first .first-slider .first__wrapper .first__slide .first__text .first__description p {
  margin: 0 0 10px 0;
  font-size: calc(18px + 4 * (100vw - 320px) / 2240);
  font-weight: 500;
  line-height: 1em;
  color: #000;
}
.first .first-slider .first__wrapper .first__slide .first__text .first__description p span {
  margin: 0 10px 0 0;
  font-size: calc(19px + 4 * (100vw - 320px) / 2240);
  font-weight: 600;
  text-transform: uppercase;
}
.first .first-slider .first__button-prev {
  left: 30px;
}
.first .first-slider .first__button-next {
  right: 30px;
}
.first .first-slider .first__button-prev:after, .first .first-slider .first__button-next:after {
  padding: 10px;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 3.2rem;
  color: white;
  background: #ff9944;
}
.first .first-slider .first__button-prev:hover:after, .first .first-slider .first__button-next:hover:after {
  background: rgba(255, 153, 68, 0.6);
}
.first .first-slider .first__pagination {
  bottom: 20px;
}
.first .first-slider .first__pagination .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  opacity: 1;
  background: #ff9944;
}
.first .first-slider .first__pagination .swiper-pagination-bullet:hover {
  background: rgba(255, 153, 68, 0.6);
}
.first .first-slider .first__pagination .swiper-pagination-bullet-active {
  background: rgba(255, 153, 68, 0.6);
}

/* good ===================================================================== */
.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0 0 10px;
}
.content .content__categories {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
  position: sticky;
  top: 125px;
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  margin: 15px 0 0 0;
  border-radius: 10px;
  overflow: hidden;
}
.content .content__categories a {
  padding: 10px;
  cursor: pointer;
  font-size: calc(18px + 4 * (100vw - 320px) / 2240);
  background: #EBF3FF;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.content .content__categories a:nth-last-child(1) {
  border-bottom: none;
}
.content .content__categories a:hover {
  background-color: #46484c;
  color: #ef8c17;
}
.content .content__categories a.active {
  background-color: #46484c;
  color: #ef8c17;
}
.content .content__menu-burger {
  display: none;
}
.content .content__items {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 0 0 10px;
}
.content .content__items .content__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  padding: 10px;
}
.content .content__items .content__item .content__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  border-radius: 10px;
}
.content .content__items .content__item .content__wrapper .content__cart {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  z-index: 1;
  border-radius: 0 0 10px 0;
  background: #EBF3FF;
}
.content .content__items .content__item .content__wrapper .content__cart a {
  padding: 5px;
  border-radius: 0 0 10px 0;
}
.content .content__items .content__item .content__wrapper .content__cart a img {
  width: calc(25px + 15 * (100vw - 320px) / 2240);
  height: calc(25px + 15 * (100vw - 320px) / 2240);
}
.content .content__items .content__item .content__wrapper .content__cart a:hover {
  background: rgba(239, 140, 23, 0.4);
}
.content .content__items .content__item .content__wrapper .content__delete {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  z-index: 1;
  border-radius: 0 0 0 10px;
  background: #EBF3FF;
}
.content .content__items .content__item .content__wrapper .content__delete a {
  padding: 5px;
  border-radius: 0 0 0 10px;
}
.content .content__items .content__item .content__wrapper .content__delete a img {
  width: calc(25px + 15 * (100vw - 320px) / 2240);
  height: calc(25px + 15 * (100vw - 320px) / 2240);
}
.content .content__items .content__item .content__wrapper .content__delete a:hover {
  background: rgba(239, 140, 23, 0.4);
}
.content .content__items .content__item .content__wrapper .content__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: calc(5px + 5 * (100vw - 320px) / 2240);
}
.content .content__items .content__item .content__wrapper .content__img a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.content .content__items .content__item .content__wrapper .content__img a img {
  width: 100%;
  height: 100%;
}
.content .content__items .content__item .content__wrapper .content__img a:hover img {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}
.content .content__items .content__item .content__wrapper .content__text {
  padding: calc(5px + 5 * (100vw - 320px) / 2240);
  border-radius: 0 0 10px 10px;
  background: #46484c;
}
.content .content__items .content__item .content__wrapper .content__text .content__name h2 {
  word-break: break-all;
  font-size: calc(14px + 6 * (100vw - 320px) / 2240);
  line-height: 1.2em;
  letter-spacing: 1px;
  color: #fff;
}
.content .content__items .content__item .content__wrapper .content__text .content__name:hover h2 {
  color: #ef8c17;
}
.content .content__items .content__item .content__wrapper .content__text .content__price {
  margin: 5px 0 0 0;
}
.content .content__items .content__item .content__wrapper .content__text .content__price p {
  font-size: calc(16px + 4 * (100vw - 320px) / 2240);
  line-height: 1.2em;
  color: #fff;
}
.content .content__items .content__item .content__wrapper .content__text .content__description {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  width: 100%;
  max-height: 260px;
  padding: 10px 10px 5px 10px;
  overflow-y: auto;
  z-index: 2;
  background: #EBF3FF;
  -webkit-box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.2);
}
.content .content__items .content__item .content__wrapper .content__text .content__description p {
  margin: 0 0 5px 0;
  font-size: calc(16px + 4 * (100vw - 320px) / 2240);
  font-weight: 500;
  line-height: 1.2em;
  color: #000;
}
.content .content__items .content__item .content__wrapper .content__text .content__description p span {
  margin: 0 10px 0 0;
  font-weight: 600;
  text-transform: uppercase;
}
.content .content__items .content__item .content__wrapper:hover .content__text {
  border-radius: 0;
}
.content .content__items .content__item .content__wrapper:hover .content__text .content__description {
  display: block;
}
.content .content__items .content__item .content__wrapper:hover .content__text .content__description p {
  color: #000;
}

/* footer ===================================================================== */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px 0 0 0;
  padding: 20px;
}
.footer .footer__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  text-align: center;
}
.footer .footer__logo a img {
  width: 50%;
}
.footer .footer__logo a:nth-child(2) img {
  display: none;
}
.footer .footer__contacts {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 20px 0 0 0;
}
.footer .footer__contacts p {
  font-size: calc(16px + 10 * (100vw - 320px) / 2240);
  line-height: 1.2em;
}
.footer .footer__contacts a:hover {
  color: #ef8c17;
}
.footer .footer__contacts .footer__phones {
  margin: 0 20px 0 0;
}
.footer .footer__contacts .footer__phones p:nth-child(1) {
  margin: 0 0 10px 0;
  font-weight: 600;
}
.footer .footer__contacts .footer__mail p:nth-child(1) {
  margin: 0 0 10px 0;
  font-weight: 600;
}

/* article ===================================================================== */
.article {
  padding: 0 20px 20px 20px;
}
.article .article__button-back a {
  border-radius: 10px;
}
.article .article__button-back a img {
  width: calc(40px + 20 * (100vw - 320px) / 2240);
}
.article .article__button-back a:hover {
  background: rgba(239, 140, 23, 0.4);
}
.article .article__good {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: calc(10px + 10 * (100vw - 320px) / 2240) 0 0 0;
}
.article .article__good .article__container {
  width: 50%;
}
.article .article__good .article__container .article__wrapper {
  width: 100%;
  border-radius: 10px;
}
.article .article__good .article__container .article__wrapper .article-slider .article__wrapper-slider .article__slide {
  padding: calc(5px + 5 * (100vw - 320px) / 2240);
}
.article .article__good .article__container .article__wrapper .article-slider .article__wrapper-slider .article__slide .article__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: calc(250px + 290 * (100vw - 320px) / 2240);
  overflow: hidden;
  border-radius: 10px;
}
.article .article__good .article__container .article__wrapper .article-slider .article__wrapper-slider .article__slide .article__img img {
  width: 100%;
  height: 100%;
}
.article .article__good .article__container .article__wrapper .article-slider .article__button-prev {
  left: calc(20px + 30 * (100vw - 320px) / 2240);
}
.article .article__good .article__container .article__wrapper .article-slider .article__button-next {
  right: calc(20px + 30 * (100vw - 320px) / 2240);
}
.article .article__good .article__container .article__wrapper .article-slider .article__button-prev:after, .article .article__good .article__container .article__wrapper .article-slider .article__button-next:after {
  padding: 10px;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: calc(28px + 16 * (100vw - 320px) / 2240);
  color: rgba(255, 255, 255, 0.5);
  background: rgba(239, 140, 23, 0.4);
}
.article .article__good .article__container .article__wrapper .article-slider .article__button-prev:hover:after, .article .article__good .article__container .article__wrapper .article-slider .article__button-next:hover:after {
  color: white;
  background: rgba(239, 140, 23, 0.6);
}
.article .article__good .article__container .article__wrapper .article__mini-slider .article__mini-wrapper .article__mini-slide .article__mini-img {
  width: 100%;
  height: calc(80px + 90 * (100vw - 320px) / 2240);
  padding: calc(5px + 5 * (100vw - 320px) / 2240);
}
.article .article__good .article__container .article__wrapper .article__mini-slider .article__mini-wrapper .article__mini-slide .article__mini-img .article__mini-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
}
.article .article__good .article__container .article__wrapper .article__mini-slider .article__mini-wrapper .article__mini-slide .article__mini-img .article__mini-container img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.article .article__good .article__container .article__wrapper .article__mini-slider .article__mini-wrapper .article__mini-slide .article__mini-img .article__mini-container:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: rgba(239, 140, 23, 0);
}
.article .article__good .article__container .article__wrapper .article__mini-slider .article__mini-wrapper .swiper-slide-thumb-active .article__mini-img .article__mini-container:after {
  background: rgba(239, 140, 23, 0.2);
}
.article .article__good .article__container .article__wrapper .article__mini-slider .article__mini-wrapper .article__mini-slide:hover {
  cursor: pointer;
}
.article .article__good .article__container .article__wrapper .article__mini-slider .article__mini-wrapper .article__mini-slide:hover .article__mini-img .article__mini-container:after {
  background: rgba(239, 140, 23, 0.2);
}
.article .article__good .article__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 0 0 calc(10px + 10 * (100vw - 320px) / 2240);
}
.article .article__good .article__text .article__name {
  padding: 10px;
  border-radius: 10px;
}
.article .article__good .article__text .article__name h2 {
  font-size: calc(22px + 22 * (100vw - 320px) / 2240);
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.article .article__good .article__text .article__wrapper-description {
  margin: calc(10px + 10 * (100vw - 320px) / 2240) 0 0 0;
  padding: 10px calc(10px + 10 * (100vw - 320px) / 2240);
  border-radius: 10px;
}
.article .article__good .article__text .article__wrapper-description .article__description p {
  margin: 0 0 10px 0;
  font-size: calc(18px + 4 * (100vw - 320px) / 2240);
  font-weight: 500;
  line-height: 1.4em;
}
.article .article__good .article__text .article__wrapper-description .article__description p span {
  margin: 0 10px 0 0;
  font-weight: 600;
  text-transform: uppercase;
}
.article .article__good .article__text .article__wrapper-description .article__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: calc(10px + 10 * (100vw - 320px) / 2240) 0 0 0;
}
.article .article__good .article__text .article__wrapper-description .article__info .article__order a {
  padding: 10px;
  border-radius: 10px;
  font-size: calc(18px + 4 * (100vw - 320px) / 2240);
  font-weight: 600;
  background: rgba(239, 140, 23, 0.4);
}
.article .article__good .article__text .article__wrapper-description .article__info .article__order a:hover {
  background: rgba(239, 140, 23, 0.8);
}
.article .article__good .article__text .article__wrapper-description .article__info .article__price p {
  font-size: calc(18px + 4 * (100vw - 320px) / 2240);
  font-weight: 600;
  color: #ef8c17;
}
.article .article__good .article__text .article__placeorder {
  width: 100%;
  margin: calc(10px + 10 * (100vw - 320px) / 2240) 0 0 0;
  padding: 10px calc(10px + 10 * (100vw - 320px) / 2240);
  border-radius: 10px;
}
.article .article__good .article__text .article__placeorder .article__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.article .article__good .article__text .article__placeorder .article__form form {
  width: 100%;
  border-radius: 10px;
}
.article .article__good .article__text .article__placeorder .article__form form p {
  margin: 0 0 10px 0;
  font-size: calc(18px + 6 * (100vw - 320px) / 2240);
}
.article .article__good .article__text .article__placeorder .article__form form .article__input {
  width: 100%;
  margin: 0 0 10px 0;
  padding: 10px;
  border-radius: 10px;
  font-size: calc(22px + 8 * (100vw - 320px) / 2240);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #000;
  background: #EBF3FF;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.article .article__good .article__text .article__placeorder .article__form form .article__input:hover, .article .article__good .article__text .article__placeorder .article__form form .article__input:focus {
  background: rgba(0, 0, 0, 0.1);
}
.article .article__good .article__text .article__placeorder .article__form form .article__button {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  font-size: calc(22px + 8 * (100vw - 320px) / 2240);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #000;
  background: rgba(239, 140, 23, 0.4);
}
.article .article__good .article__text .article__placeorder .article__form form .article__button:hover {
  background: rgba(239, 140, 23, 0.8);
}

/* reg-log ===================================================================== */
.reg-log {
  width: 100%;
  padding: 0 20px;
}
.reg-log .reg-log__button-back a {
  border-radius: 10px;
}
.reg-log .reg-log__button-back a img {
  width: 50px;
}
.reg-log .reg-log__button-back a:hover {
  background: rgba(239, 140, 23, 0.4);
}
.reg-log .reg-log__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 700px;
  width: 100%;
  padding: 20px 0 0 0;
}
.reg-log .reg-log__form form {
  padding: 20px;
  border-radius: 10px;
}
.reg-log .reg-log__form form .reg-log__input {
  width: 100%;
  margin: 0 0 10px 0;
  padding: 10px;
  border-radius: 10px;
  font-size: 2rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #000;
  background: #EBF3FF;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.reg-log .reg-log__form form .reg-log__input:hover, .reg-log .reg-log__form form .reg-log__input:focus {
  background: rgba(239, 140, 23, 0.4);
}
.reg-log .reg-log__form form .reg-log__reg-log {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 0 20px 0;
}
.reg-log .reg-log__form form .reg-log__reg-log a {
  font-size: 1.7rem;
  color: #6565cd;
}
.reg-log .reg-log__form form .reg-log__reg-log a:hover {
  color: #ef8c17;
}
.reg-log .reg-log__form form .reg-log__button {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  font-size: 2rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #000;
  background: rgba(239, 140, 23, 0.4);
}
.reg-log .reg-log__form form .reg-log__button:hover {
  background: rgba(239, 140, 23, 0.6);
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* post ===================================================================== */
.post {
  width: 100%;
  padding: 0 20px;
}
.post .post__button-back a {
  border-radius: 10px;
}
.post .post__button-back a img {
  width: 50px;
}
.post .post__button-back a:hover {
  background: rgba(239, 140, 23, 0.4);
}
.post .post__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 700px;
  width: 100%;
  padding: 20px 0 0 0;
}
.post .post__wrapper .post__form {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
.post .post__wrapper .post__form p {
  margin: 0 0 10px 0;
  font-size: 1.8rem;
}
.post .post__wrapper .post__form .post__textarea {
  width: 100%;
  height: 55px;
  margin: 0 0 10px 0;
  padding: 10px;
  border-radius: 10px;
  font-size: 2rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  resize: none;
  color: #000;
  background: rgba(0, 0, 0, 0.1);
}
.post .post__wrapper .post__form .post__textarea.big {
  height: 200px;
}
.post .post__wrapper .post__form .post__textarea:hover, .post .post__wrapper .post__form .post__textarea:focus {
  background: rgba(0, 0, 0, 0.2);
}
.post .post__wrapper .post__form .post__link {
  height: 40px;
  width: 100%;
  border-radius: 10px;
  font-size: 1.8rem;
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
}
.post .post__wrapper .post__form .post__link:hover, .post .post__wrapper .post__form .post__link:focus {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.2);
}
.post .post__wrapper .post__form .post__button {
  width: 100%;
  margin: 20px 0 0 0;
  padding: 10px;
  border-radius: 10px;
  font-size: 2rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #000;
  background: rgba(239, 140, 23, 0.4);
}
.post .post__wrapper .post__form .post__button:hover {
  background: rgba(239, 140, 23, 0.6);
}

/* OTHER ===================================================================== */
::-webkit-scrollbar {
  width: 9px;
  background: #EBF3FF;
}

::-webkit-scrollbar-thumb {
  background: #494544;
}

::-webkit-scrollbar-thumb:hover {
  background: #7e7e7e;
}

* {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a {
  display: inline-block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #242527;
}

.shadow {
  -webkit-box-shadow: -2px -2px 8px white, -2px -2px 12px rgba(255, 255, 255, 0.65), inset 2px 2px 4px rgba(255, 255, 255, 0.2), 2px 2px 8px rgba(0, 0, 0, 0.25);
          box-shadow: -2px -2px 8px white, -2px -2px 12px rgba(255, 255, 255, 0.65), inset 2px 2px 4px rgba(255, 255, 255, 0.2), 2px 2px 8px rgba(0, 0, 0, 0.25);
}

body {
  width: 100%;
  min-height: 100%;
  padding-top: 125px;
  overflow-x: hidden;
  font-family: "PT Sans", sans-serif;
  color: #000;
  background: #EBF3FF;
}

/* OTHER */
@media (max-width: 1440px) {
  .content .content__items .content__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
  }
}
@media (max-width: 1024px) {
  .first .first-slider .first__wrapper .first__slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px;
  }
  .first .first-slider .first__wrapper .first__slide .first__img {
    margin: 20px 0 0 0;
  }
  .first .first-slider .first__wrapper .first__slide .first__img .first__button {
    display: none;
  }
  .first .first-slider .first__wrapper .first__slide .first__text {
    width: 100%;
    padding: 0;
    text-align: center;
  }
  .first .first-slider .first__wrapper .first__slide .first__text .first__name {
    width: 100%;
  }
  .first .first-slider .first__wrapper .first__slide .first__text .first__name a {
    width: 100%;
  }
  .first .first-slider .first__wrapper .first__slide .first__text .first__benefits {
    display: none;
  }
  .first .first-slider .first__wrapper .first__slide .first__text .first__description {
    display: none;
  }
  .first .first-slider .first__button-prev {
    left: 20px;
  }
  .first .first-slider .first__button-next {
    right: 20px;
  }
  .first .first-slider .first__button-prev:after, .first .first-slider .first__button-next:after {
    font-size: 2.2rem;
    color: white;
    background: #ef8c17;
  }
  .content {
    display: block;
    padding: 20px 0 0 0;
  }
  .content .content__categories {
    display: none;
  }
  .content .content__menu-burger {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    background: #EBF3FF;
  }
  .content .content__menu-burger img {
    width: 100%;
    height: 100%;
  }
  .content .content__menu-burger img:nth-child(2) {
    display: none;
  }
  .content .content__items {
    padding: 10px 0 0 0;
  }
  .content .content__items .content__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
  }
  .content.active .content__categories {
    position: fixed;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    padding: 100px 10px;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    z-index: 1000;
    background: #EBF3FF;
  }
  .content.active .content__categories a {
    margin: 0 0 10px 0;
    border-radius: 10px;
    font-size: calc(22px + 4 * (100vw - 320px) / 2240);
    -webkit-box-shadow: -2px -2px 8px white, -2px -2px 12px rgba(255, 255, 255, 0.65), inset 2px 2px 4px rgba(255, 255, 255, 0.2), 2px 2px 8px rgba(0, 0, 0, 0.25);
            box-shadow: -2px -2px 8px white, -2px -2px 12px rgba(255, 255, 255, 0.65), inset 2px 2px 4px rgba(255, 255, 255, 0.2), 2px 2px 8px rgba(0, 0, 0, 0.25);
  }
  .content.active .content__menu-burger {
    position: fixed;
    top: 10px;
    right: 0;
    z-index: 1001;
  }
  .content.active .content__menu-burger img:nth-child(1) {
    display: none;
  }
  .content.active .content__menu-burger img:nth-child(2) {
    display: block;
  }
  body.active {
    overflow: hidden;
  }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 20px 0 0 0;
    padding: 10px;
  }
  .footer .footer__logo a:nth-child(1) img {
    display: none;
  }
  .footer .footer__logo a:nth-child(2) img {
    display: inline-block;
  }
  .footer .footer__contacts p {
    font-size: calc(14px + 8 * (100vw - 320px) / 2240);
  }
  .footer .footer__contacts .footer__phones {
    margin: 0 10px 0 0;
  }
  .article {
    padding: 0 10px 10px 10px;
  }
  .article .article__good {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .article .article__good .article__container {
    width: 100%;
  }
  .article .article__good .article__container .article__wrapper .article-slider .article__wrapper-slider .article__slide .article__img {
    height: calc(200px + 640 * (100vw - 320px) / 2240);
  }
  .article .article__good .article__container .article__wrapper .article__mini-slider .article__mini-wrapper .article__mini-slide .article__mini-img {
    height: calc(80px + 190 * (100vw - 320px) / 2240);
  }
  .article .article__good .article__container .article__wrapper .article__mini-slider .article__mini-wrapper .swiper-slide-thumb-active .article__mini-img .article__mini-container:after {
    background: rgba(239, 140, 23, 0.2);
  }
  .article .article__good .article__container .article__wrapper .article__mini-slider .article__mini-wrapper .article__mini-slide:hover {
    cursor: pointer;
  }
  .article .article__good .article__container .article__wrapper .article__mini-slider .article__mini-wrapper .article__mini-slide:hover .article__mini-img .article__mini-container:after {
    background: rgba(239, 140, 23, 0.2);
  }
  .article .article__good .article__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding: 10px 0 0 0;
  }
}
@media (max-width: 768px) {
  .header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 80px;
    -webkit-transition: 0.1s;
    transition: 0.1s;
  }
  .header .header__logo a img {
    height: 60px;
  }
  .header .header__logo a:nth-child(1) {
    display: none;
  }
  .header .header__logo a:nth-child(2) {
    display: block;
  }
  .header .header__contacts {
    display: none;
  }
  .header .header__login {
    display: none;
  }
  .header .header__menu-burger {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 14px;
    width: 50px;
    height: 50px;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    background: #EBF3FF;
  }
  .header .header__menu-burger span {
    position: absolute;
    width: 60%;
    height: 2px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-color: #000;
  }
  .header .header__menu-burger:before, .header .header__menu-burger:after {
    content: "";
    background-color: #000;
    position: absolute;
    width: 60%;
    height: 2px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header .header__menu-burger:before {
    top: 12px;
  }
  .header .header__menu-burger:after {
    bottom: 12px;
  }
  .header.active {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 80px 0 40px 0;
    overflow-y: auto;
  }
  .header.active .header__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 40px 0;
  }
  .header.active .header__contacts a {
    margin: 0;
    padding: 10px;
  }
  .header.active .header__login {
    display: block;
  }
  .header.active .header__menu-burger span {
    display: none;
  }
  .header.active .header__menu-burger:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 24px;
    left: 10px;
  }
  .header.active .header__menu-burger:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 24px;
    left: 10px;
  }
  body {
    padding-top: 90px;
  }
  .content .content__items {
    padding: 15px 5px 0 5px;
  }
  .content .content__items .content__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    padding: 5px;
  }
  .content .content__items .content__item .content__wrapper .content__text .content__description {
    display: none !important;
  }
  .content .content__items .content__item .content__wrapper:hover .content__text {
    border-radius: 0 0 10px 10px;
  }
}